{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center col-md-8 col-lg-6">
        <h1 class="fw-semibold mb-3">About NestFinder</h1>

        <p class="text-muted mb-4">
            NestFinder is an early-stage web application designed to provide UIUC students with a simplified view of available housing options.
            With rental information dispersed across numerous platforms, students often struggle to compare listings or identify what is currently available.
            Our project aims to address this challenge by beginning the process of consolidating apartment dat into a single, accessible location.
        </p>

        <p class="mb-4">
           At its present stage, the platform offers a limited set of apartment listings, Google-based authentication, and the ability to download
            CSV and JSON files containing the available data. These features form the foundation for future development, even though the system does not yet
            include map visualizations, large-scale aggregation, or sublease integration.
        </p>

        <p class="text-muted">
           This project was developed to fulfill the Phase 1 requirements for INFO 490 MG, taught by Mohit Gupta in Spring 2026 at the University of Illinois
            Urbana-Champaign. While still in its early phases, NestFinder represents the initial steps toward a more comprehensive housing resource for the campus
            community.
        </p>
        <br><br><h3>Growth of our site</h3><br>
            <div id="vega_line_chart" style="width: 100%;"></div>
    </div>

</div>
    <script type="text/javascript">
    var lineSpec = {
        "$schema": "https://vega.github.io/schema/vega-lite/v6.json",
        "title": "Number of Listings Over Time",
        "width": "container",
        "height": 400,

        "data": {
            "url": "{% url 'apartments_count_api' %}",
            "format": {"type": "json", "property": "data"}
        },

        "mark": {
            "type": "line",
            "point": true
        },

        "encoding": {
            "x": {
                "field": "date",
                "type": "temporal",
                "axis": {"title": "Date", "format": "%b %d, %Y"}
            },
            "y": {
                "field": "total",
                "type": "quantitative",
                "axis": {"title": "Total Listings"}
            },
            "tooltip": [
                {"field": "date", "type": "temporal", "title": "Date"},
                {"field": "total", "type": "quantitative", "title": "Total Listings in DB"}
            ]
        }
    };

    vegaEmbed('#vega_line_chart', lineSpec).catch(console.error);
</script>
{% endblock %}

